.slickSlider {
  max-width: 130vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.slick-slide,
.slick-slide * {
  outline: none !important;
}

.slidebutton {
  cursor: pointer;
}

.activeslide {
  background-color: #f3f4f6;
}

:global([data-theme='dark']) .activeslide {
  background-color: #333;
}

.slickSlider :global(.slick-dots) li button:before {
  color: #9ca3af;
  opacity: 0.5;
}

.slickSlider :global(.slick-dots) li.slick-active button:before {
  color: var(--ifm-color-primary);
  opacity: 1;
}
