/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 nav {
  transition: 0.8s;
} 

.heroBackground{
  box-shadow: rgb(0 0 0 / 50%) 0px -10px 13px -7px inset; 
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 1.0) 100%), url('/img/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 80vh; /* Mobile: kleinere Höhe */
  min-height: 300px;
  margin-top: 0;
  margin-top: calc(var(--ifm-navbar-height)*-1);
  padding: 10px;
}

/* Tablet/Laptop */
@media (min-width: 768px) {
  .heroBackground {
    height: 110vh;
  }
}

.heroBanner {
  margin-top: var(--ifm-navbar-height);
  padding-bottom: var(--ifm-navbar-height);
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.startArrow{
  display: block;
  position: absolute;
  bottom: 50px;
  width: 50px;
  height: 50px;
  margin: auto;
  left: 0;
  right: 0;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background: transparent url("/img/start/down.png") center;
  background-size: contain;
  opacity: 80%;
  transition: 1s;
}

.drone{
  animation-name: drone;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.animatedWord {
  display: inline-block;
  min-width: 10px;
  color: #00FFD1; /* or any highlight color you prefer */
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes drone {
	0% {
		transform: translatey(0px);
    transform: translatex(0px);
	}
	25% {
		transform: translatey(-10px);
	}
  50% {
    transform: translatex(10px);
	}
  75% {
		transform: translatey(0px);
	}
	100% {
    transform: translatex(0px);
	}
}

[data-scroll='0'] .startArrow{
  opacity: 80%;
}