.heroBackground {
  box-shadow: rgb(0 0 0 / 50%) 0px -10px 13px -7px inset;
  background-image: linear-gradient(0deg, #0e181d, #152f3a, #0b3444);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin-top: calc(var(--ifm-navbar-height) * -1);
}

.slickSlider {
  max-width: 130vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.slick-slide,
.slick-slide * {
  outline: none !important;
}

.slidebutton {
  cursor: pointer;
}

.activeslide {
  background-color: var(--ifm-color-emphasis-100);
}