
.heroBackground{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin-top: calc(var(--ifm-navbar-height)*-1);
}

.particleBackground {
  margin-top: calc(var(--ifm-navbar-height)*-1);
  background: rgb(28,57,78);
  background-image: linear-gradient(45deg,#235059,#111111,#262626);
  height: 3000px;
}

.slickSlider {
  max-width: 130vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.slick-slide,
.slick-slide * {
  outline: none !important;
}

.slidebutton {
  cursor: pointer;
}

.activeslide {
  background-color: var(--ifm-color-emphasis-100);
}
