.heroBackground{
  box-shadow: rgb(0 0 0 / 50%) 0px -10px 13px -7px inset; 
  background-image: url('/img/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  min-height: 300px;
  margin-top: 0;
  margin-top: calc(var(--ifm-navbar-height)*-1);
  padding: 10px;
}

.slickSlider {
  max-width: 130vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.slick-slide,
.slick-slide * {
  outline: none !important;
}

.slidebutton {
  cursor: pointer;
}

.activeslide {
  background-color: var(--ifm-color-emphasis-100);
}
