name: Deploy

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  # Build job
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Install sshpass
        run: sudo apt-get update && sudo apt-get install -y sshpass
      - name: Deploy with rsync over SSH/password
        run: |
          sshpass -p "${{ secrets.ONEWARE_SFTP_SSH_PW }}" \
          rsync -avz \
            --delete \
            -e "ssh -o StrictHostKeyChecking=no" \
            ./build/ \
            ${{ secrets.ONEWARE_SFTP_SSH_USER }}@5017617850.ssh.w2.strato.hosting:/
