name: Deploy

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  # Build job
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Install lftp
        run: |
          sudo apt install -y lftp
      - name: Deploy via SFTP using LFTP
        env:
          LFTP_USER: ${{ secrets.ONEWARE_SFTP_SSH_USER }}
          LFTP_PASS: ${{ secrets.ONEWARE_SFTP_SSH_PW }}
        run: |
          lftp -f "
          set sftp:auto-confirm yes
          set net:max-retries 2
          set net:timeout 20
          open -u $LFTP_USER,$LFTP_PASS sftp://5017617850.ssh.w2.strato.hosting
          mirror -R \
            --parallel=4 \
            --only-newer \
            --verbose \
            --exclude-glob .htaccess \
            --exclude-glob .well-known/* \
            --delete \
            build/ /
          bye
          "
