name: Deploy

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  # Build job
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Upload
        uses: Black-HOST/deployer@v1
        with:
          protocol: sftp
          server: 5017617850.ssh.w2.strato.hosting
          username: ${{ secrets.ONEWARE_SFTP_SSH_USER }}
          password: ${{ secrets.ONEWARE_SFTP_SSH_PW }}
          remote_dir: "/"
          local_dir: "build/."
          exclude: ".htaccess,.well-known/**"
          delete: true
          parallel: 4
          only_newer: true
